body{
font-family: 'Fira Mono', Sans-Serif;
}
p{
padding:.5em 0;
}
strong{
font-weight:bold;
text-transform:uppercase;
}
ul {
list-style: square inside none;
margin:1em 0;
}
.clearfix:after{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.floatleft{
float:left;
}
.container{
width:960px;
margin:0 auto;
}
#header{
margin:100px 0 80px 0;
}
#logo img{
height:210px;
padding:20px;
box-sizing:border-box;
border-radius:50%;
}
#logo{
width:25%;
}
.logo{
cursor:pointer;
font-weight:bold;
text-decoration:underline;
}
#logotype{
width:75%;
padding-top:20px;
}
#title{
font-family: 'Poiret One', cursive;
font-size:5.5em;
color:black;
margin-bottom:10px;
}
#subhead{
font-size:1.3em;
line-height:1.2em;
color:grey;
width:80%;
}
.content{
padding:0 1.5em;
font-size:1em;
line-height:1.5em;
}
#console{
margin-top:10px;
padding:20px;
height:400px;
width:100%;
background:Gainsboro;
text-align:left;
color:teal;
overflow-y:scroll;
box-sizing:border-box;
font-size:.85em;
white-space: pre-wrap;
}
.connected span{
font-weight:bold;
}
.connected{
margin:3em 0 1em 0;
}
.connected.many{
display:none;
}
button, #saybutt{
border-radius:none;
border:2px solid black;
background:none;
cursor:pointer;
padding:5px 10px!important;
}
pre.prettyprint{
border:none!important;
font-size:.85em!important
}
.prettyprint.syntax{
line-height:.85em!important;
}
.new{
text-decoration:underline;
cursor:pointer;
}
.codehead{
margin-top:20px;
}
#footer{
margin-bottom:100px;
}
.centered{
text-align:center;
}
.syntax {
font-size:.85em;
}
.section{
width:100%;
height:6em;
}
#say {
position:relative;
height:29px;
margin-bottom:60px;
margin-top:5px;
}
#saybutt{
float:left;
display:block;
width:53px;
}
#sayin {
border:1px solid black;
border-left:0;
height:100%;
width:850px;
padding-left:7px;
color:teal;
}
